services:
  - type: web
    name: sheets-sse
    env: node
    plan: free
    buildCommand: "npm install"
    startCommand: "npm start"
    autoDeploy: true
    rootDir: .
    envVars:
      - key: NODE_ENV
        value: production
